@media (min-width: 350px) {
    /* large mobiles */
    .header{
        display: flex;
        cursor: pointer;
        width:100%;
        height:60px;
        background-color: #0C3C60;
            
        .logo{
            margin-left: 3%;
            width:10%;
            .logosize{
                margin-top: 20%;
                width:80%;
                height:50%;
                border-Radius:50%;
            }
            
        }
        .navbar{
            color:white;
            display: flex;
            font-size: 15px;
            align-items: center;
            margin-top: -1%;
          
            gap:4%;
           
            list-style-type: none;
            
            .tablinks:hover {
                color: #9eabe9;
                text-decoration:underline;
              }
        }
    }
    /*footer below*/
    .footer{
        cursor: pointer;
        width:100%;
        height:500px;
        margin-top: 1%;
        background-color: #0C3C60;
        color:white;
        .contact{
            padding-top: 5%;
            text-align: center;
            font-size: 25px;
            
        }
        .inputs{
            display: flex;
            font-weight: 320px;
            margin-left: 2%;
            margin-top: 5%;
            .textbox{
                width:150px;
                height:30px;
                border: none;
                border-radius: 5px;
            }
            .lastname{
                margin-left: 10%;
            }
            .messagebox{
                width:240px;
                height:30px;
                border: none;
                border-radius: 5px;
            }
            .submit{
                margin-left: 5px;
                height:35px;
                border-radius:10px;
                background-color: white;
                width:100px;
            }
          

        }
    }
    /*main footer */
    .footerlast{
        cursor: pointer;
        background-color: #072136;
        width:100%;
        height: 400px;
        display:flex;
        
        /*content 1*/
        .content1{
            color:white;
            padding: 2%2%;
    
            .heading{
                font-size: 20px;
             
            }
        }
    }
    
}
@media (min-width: 400px) {
    /* large mobiles */
    .header{
        display: flex;
    
        width:100%;
        background-color: #0C3C60;
        height:55px;
        .logo{
            margin-left:8%;
            width:10%;
            .logosize{
                margin-top: 20%;
                width:60%;
                height:50%;
                border-Radius:50%;
            }
            
        }
        .navbar{
            color:white;
            display: flex;
            align-items: center;
            font-weight: 300;
            gap:5%;
            margin-left:1%;
            list-style-type: none;
            
    
        }
    }
/*footer below*/
     .footer{
        width:100%;
        height:500px;
        margin-top: 1%;
        background-color: #0C3C60;
        color:white;
     /*contact*/
        .contact{
            padding-top: 5%;
            text-align: center;
            font-size: 25px;
   
        }
     /*inputs boxes*/  
        .inputs{
            display: flex;
            font-weight: 320px;
            margin-left: 2%;
            margin-top: 5%;
            .textbox{
                width:170px;
                height:30px;
                border: none;
                border-radius: 5px;
            }

            .lastname{
                margin-left: 10%;
            }
            .messagebox{
                width:280px;
                height:30px;
                border: none;
                border-radius: 5px;
            }
            .submit{
                margin-left: 5px;
                height:35px;
                border-radius:10px;
                background-color: white;
                width:100px;
            }

        }
    }
/*ending footer */
    .footerlast{
        
        background-color: #072136;
        width:100%;
        height: 300px;
        display:flex;
        /*content 1*/
        .content1{
            color:white;
            padding: 3%3%;
            
            .heading{
                font-size: 20px;
             
            }
        }
    }
    
}

@media (min-width: 576px) {
    /* large mobiles */
    .header{
        display: flex;
        width:100%;
        
        .logo{
            margin-left:5% ;
            text-align: center;
            
        }
        .navbar{
            display: flex;
            align-items: center;
            font-weight: 700;
           gap:15%;
            margin-left: 20%;
    
        }
    }
     /*footer below*/
     .footer{
        width:100%;
        height:800px;
        margin-top: 1%;
        background-color: #0C3C60;
        color:white;
        .contact{
            padding-top: 5%;
            text-align: center;
            font-size: 50px;
            
        }
        .inputs{
            display: flex;
            font-weight: 300px;
            margin-left: 8%;
            margin-top: 5%;
            .textbox{
                width:300px;
                height:40px;
                border: none;
                border-radius: 5px;
            }
            .lastname{
                margin-left: 10%;
            }
            .messagebox{
                width:500px;
                height:40px;
                border: none;
                border-radius: 5px;
            }
            .submit{
                margin-left: 5px;
                height:45px;
                border-radius:10px;
                background-color: white;
                width:170px;
            }

        }
    }
    /*main footer */
    .footerlast{
        
        background-color: #072136;
        width:100%;
        height: 500px;
        display:flex;
        /*content 1*/
        .content1{
            color:white;
            padding: 4%5%;
            width:200px;
            .heading{
                font-size: 30px;
             
            }
        }
    }
    
}


@media (min-width: 768px) {
    /* tablets */
    .header{
        display: flex;
        width:100%;
        
        .logo{
     
            width:10%;
            .logosize{
                margin-top: 3%;
                width:60%;
                height:80%;
                border-Radius:50%;
            }
            
        }
        .navbar{
            display: flex;
            align-items: center;
            font-weight: 700;
            gap:15%;
            margin-left: 20%;
    
        }
    }

      /*footer below*/
    .footer{
        width:100%;
        height:800px;
        margin-top: 1%;
        background-color: #0C3C60;
        color:white;
        .contact{
            padding-top: 5%;
            text-align: center;
            font-size: 40px;
            
        }
        .inputs{
            display: flex;
            font-weight: 300px;
            margin-left: 8%;
            margin-top: 5%;
            .textbox{
                width:300px;
                height:40px;
                border: none;
                border-radius: 5px;
            }
            .lastname{
                margin-left: 10%;
            }
            .messagebox{
                width:500px;
                height:40px;
                border: none;
                border-radius: 5px;
            }
            .submit{
                margin-left: 5px;
                height:45px;
                border-radius:10px;
                background-color: white;
                width:170px;
            }

        }
    }
    /*main footer */
    .footerlast{
        
        background-color: #072136;
        width:100%;
        height: 500px;
        display:flex;
        /*content 1*/
        .content1{
            color:white;
            padding: 3%5%;
           
            .heading{
                font-size: 30px;
                width:80px;
             
            }
        }
    }
}

@media (min-width: 992px) {
    /* laptops */
    .header{
        display: flex;
        
        .logo{
     
            width:10%;
            .logosize{
                margin-top: 3%;
                width:50%;
                height:80%;
                border-Radius:50%;
            }
            
        }
        .navbar{
            display: flex;
            align-items: center;
            font-weight: 700;
            gap:20%;
            margin-left: 20%;
            
    
        }
    }

    /*footer below*/
    .footer{
        width:100%;
        height:800px;
        margin-top: 1%;
        background-color: #0C3C60;
        color:white;
        .contact{
            padding-top: 5%;
            text-align: center;
            font-size: 50px;
            
        }
        .inputs{
            display: flex;
            font-weight: 300px;
            margin-left: 8%;
            margin-top: 5%;
            .textbox{
                width:400px;
                height:40px;
                border: none;
                border-radius: 5px;
            }
            .lastname{
                margin-left: 10%;
            }
            .messagebox{
                width:730px;
                height:40px;
                border: none;
                border-radius: 5px;
            }
            .submit{
                margin-left: 5px;
                height:45px;
                border-radius:10px;
                background-color: white;
                width:170px;
            }

        }
    }
    /*main footer */
    .footerlast{
        
        background-color: #072136;
        width:100%;
        height: 500px;
        display:flex;

        .content1{
            color:white;
            padding: 5% 10%;
            width:200px;
            .heading{
                font-size: 30px;
             
            }
        }
    }
}

@media (min-width: 1200px) {
    .page{

        width:100%;
        
      

    .header{
        display: flex;
        cursor: pointer;
        height:100px;
    
        
        .logo{
     
            width:10%;
            .logosize{
              
                width:80%;
                height:95%;
                border-Radius:50%;
            }
            
        }
        .navbar{
            display: flex;
            font-weight: 300;
            font-size: 20px;
            gap:30%;
            margin-left: 20%;
            list-style-type: none;
        }
        body {
            font-family: Arial;
          }
          
          /* Style the tab */
          .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            
          
          }
          
          /* Style the buttons inside the tab */
          .tab button {
            border:none;
           
            background-color: #0C3C60;
            color:white;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.9s;
            font-size: 17px;
          }
          
          /* Change background color of buttons on hover */
          .tablinks:hover {
            color: #9eabe9;
            text-decoration:underline;
          }
          
          
          
          /* Style the tab content */
          .tabcontent {
            display: none;
            
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
          }
    }
   /*footer*/
    .footer{
        width:100%;
        height:800px;
        margin-top: 1%;
        background-color: #0C3C60;
        color:white;
        .contact{
            padding-top: 5%;
            text-align: center;
            font-size: 50px;
            
        }
        .inputs{
            display: flex;
            font-weight: 300px;
            margin-left: 10%;
            margin-top: 5%;
            .textbox{
                width:450px;
                height:40px;
                border: none;
                border-radius: 5px;
            }
            .lastname{
                margin-left: 10%;
            }
            .messagebox{
                width:850px;
                height:40px;
                border: none;
                border-radius: 5px;
            }
            .submit{
                margin-left: 5px;
                height:45px;
                border-radius:10px;
                background-color: white;
                width:170px;
            }
            
        }
    }
    /*main footer */
    .footerlast{
        
        background-color: #072136;
        width:100%;
        height: 500px;
        display:flex;

        .content1{
            color:white;
            padding: 5% 10%;
            width:200px;
            .heading{
                font-size: 30px;
             
            }
        }
    }
}

   
}

@media (min-width: 1400px) {
    /* extra large screens */
}